# URL de la API del servidor (En local: http://localhost:3000)
VITE_API_URL=http://TU_IP_PUBLICA_EC2:3000

# IP o dominio donde corre el backend (localhost en local, IP pública en AWS)
HOST_IP=localhost

# Clave secreta para firmar los tokens JWT
JWT_SECRET=CambiaEsteSecretoPorAlgoSeguro2026!

# Puerto del servidor backend
PORT=3000